.background
  .my-page
    = render "users/side_bar"
    .main
      .main__title
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          新しいパスワードを入力してください。
          %br/
          = f.password_field :password, autocomplete: "new-password"
          - if @minimum_password_length
            %br/
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .field
          = f.label :current_password
          %i
          %br/
          = f.password_field :current_password, autocomplete: "current-password"
        .actions
          = f.submit "Update"
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
      = link_to "戻る", :back
