.background-favo
  .my-page__main__content__title
    = current_user.nickname
    %span
    さんのいいね一覧
  .my-page__main__content
    .my-page__main__content__boxes
      - if @favorites.present?
        - @favorites.each do |favorite|
          .list
            = link_to product_path(favorite.product.id) do
              - if favorite.product.buyer_id.present? 
                .list--image__sold
                  .list--image__sold__inner
                    SOLD
              %figure.list--image
                = image_tag (favorite.product.images[0].image.url), class: "item-image",size:'150x100'
              .list--detail
                %h3.name
                  = favorite.product.name
                .foot
                  %ul
                    %li 
                      = favorite.product.amount_of_money
                      円
                    %li
                      %i.fa.fa-star
                        = Favorite.where(product_id: favorite.product.id).count
      - else 
        %h1
          お気に入りに追加した商品はありません 