.background
  .my-page
    .my-page__side
      .my-page__side__content
        .my-page__side__content__title
          マイページメニュー
        %ul.my-page__side__content__menu
          %li= link_to 'マイページ', ''
          %li= link_to 'プロフィール', ''
          %li= link_to 'お届け先住所変更', ''
          %li= link_to 'メール・パスワード', ''
          %li= link_to '支払い方法', ''
          %li= link_to 'いいね・一覧', ''
      .my-page__side__content
        .my-page__side__content__title
          商品を出品する
        %ul.my-page__side__content__menu
          %li= link_to '商品を出品する', ''
          %li= link_to '出品した商品', ''
      .my-page__side__content
        .my-page__side__content__title
          商品を購入する
        %ul.my-page__side__content__menu
          %li= link_to '商品を購入する', ''
          %li= link_to '購入した商品', ''
          %li= link_to 'コメントした商品', ''
      .my-page__side__content
        .my-page__side__content__title
          ログアウト
        %ul.my-page__side__content__menu
          %li= link_to 'ログアウト', ''
          
    .my-page__main
      .my-page__main__user-name
        ももんが さんのマイページ

      .my-page__main__logout
        = link_to 'ログアウト', '',method: :delete,class:"my-page__main__logout__next_btn"