.my-page__side
  .my-page__side__content
    .my-page__side__content__title
      マイページメニュー
    %ul.my-page__side__content__menu
      %li= link_to 'マイページ', user_path(current_user)
      %li= link_to 'プロフィール', profile_user_path(current_user)
      %li= link_to 'お届け先住所変更', deliveryaddress_user_path(current_user)
      %li= link_to 'メール・パスワード','' 
      - if @card.blank?
        %li= link_to 'カードを登録', new_credit_card_path
      - else
        %li= link_to 'カード情報', credit_card_path(current_user.id)
      %li= link_to 'いいね・一覧', "/products/#{current_user.id}/favorites"
      %li= link_to '商品を検索する', searches_path
  .my-page__side__content
    .my-page__side__content__title
      商品を出品する
    %ul.my-page__side__content__menu
      %li= link_to '商品を出品する',new_product_path
      %li= link_to '出品した商品', ''
  .my-page__side__content
    .my-page__side__content__title
      商品を購入する
    %ul.my-page__side__content__menu
      %li= link_to '商品を購入する', '/searches'
      %li= link_to '購入した商品', ''
      %li= link_to 'コメントした商品', ''
  .my-page__side__content
    .my-page__side__content__title
      ログアウト
    %ul.my-page__side__content__menu
      %li= link_to 'ログアウト',  log_out_user_path(current_user.id)

      -# = form_with url:'/searches', method: :get, local: true do |f|
      -#   = f.text_field :search, class: 'input', placeholder: 'キーワードから探す'
      -#   = button_to do
      -#     = image_tag('icon/icon-search 1.png',class:'icon')