- breadcrumb :mypage
.background
  .my-page
    = render "side_bar"
    .my-page__main
      .my-page__main__user-name
        = current_user.nickname
        %span
          さんのマイページ 
      
      .my-page__main__content__title
        出品した 商品
      .my-page__main__content
        -if @product_exhibitor.blank?
          %h2.none_product
            出品された商品はありません
        .my-page__main__content__boxes  
          - @product_exhibitor.each do |product|
            .list
              = link_to product_path(product.id) do
                - if product.buyer_id.present? 
                  .list--image__sold
                    .list--image__sold__inner
                      SOLD
                %figure.list--image
                  - product.images.each do |image|
                    = image_tag image.image.url, class: "item-image",size:'150x100'
                .list--detail
                  %h3.name
                    = product.name
                  .foot
                    %ul
                      %li 
                        = product.amount_of_money
                        円
                      %li
                        %i.fa.fa-star
                        = Favorite.where(product_id: product.id).count
                    %p（税込）

          

       
      .my-page__main__content__title
        購入した 商品
      .my-page__main__content
        -if @product_buyer.blank?
          %h2.none_product
            購入された商品はありません
        .my-page__main__content__boxes
          - @product_buyer.each do |product|
            .list
              = link_to product_path(product.id) do
                - if product.buyer_id.present? 
                  .list--image__sold
                    .list--image__sold__inner
                      SOLD
                %figure.list--image
                  - product.images.each do |image|
                    = image_tag image.image.url, class: "item-image",size:'150x100'
                .list--detail
                  %h3.name
                    = product.name
                  .foot
                    %ul
                      %li 
                        = product.amount_of_money
                        円
                      %li
                        %i.fa.fa-star                         
                        = Favorite.where(product_id: product.id).count
                    %p（税込）