%header
  .site-header
    .site-header__top
      .site-header__top__content
        .site-header__top__content__logo
          = link_to image_tag('logo/logo.png', class:'image'), '#'
      .site-header__top__form
        = form_with url:'#' do |f|
          = f.text_field :body, class: 'input', placeholder: 'キーワードから探す'
          = button_tag do
            = image_tag('icon/icon-search 1.png',class:'icon')
    .site-header__lists
      %ul.listsleft
        %li.category
          = link_to '#'do
            = 'カテゴリー'
        %li.brand
          = link_to '#' do
            = 'ブランド'
      %ul.listsright
        %li.login
          = link_to 'ログイン'
        %li.sign-up
          = link_to '新規会員登録'
