%header
  .site-header
    .site-header__top
      .site-header__top__content
        .site-header__top__content__logo
          = link_to image_tag('logo/logo.png', class:'image'), root_path
      .site-header__top__form
        = form_with url:'/searches', method: :get, local: true do |f|
          = f.text_field :search, class: 'input', placeholder: 'キーワードから探す'
          = button_to do
            = image_tag('icon/icon-search 1.png',class:'icon')
    .site-header__lists
      %ul.listsleft
        = render partial:'home/header-category' 
        %li.brand
          = link_to '#' do
            = 'ブランド'
      %ul.listsright
        -if user_signed_in?
          %li.my_page
            = link_to "マイページ",user_path(current_user)
            %i.fa.fa-user
        -else  
          %li.login
            = link_to 'ログイン',new_user_session_path 
          %li.sign-up
            = link_to '新規会員登録', new_user_registration_path
      = breadcrumbs