.main
  .area
    .area__text
      %h1.area__text__title
        人生を変えるフリマアプリ
      %p.area__text__summary
        FURIMAは誰でも簡単に出品・購入できる
        %br
          フリマアプリです
      .area__text__btn
        = link_to image_tag('icon/app-store.svg', class:'app-btn'), '#'
        = link_to image_tag('icon/google-play.svg', class:'google-btn'), '#'

  .reason
    %h2.reason__title
      FURIMAが選ばれる理由
    %ul.reason__lists
      %li.list.list-margin
        .list__image
          %span.number 1
          = image_tag('pict/pict-reason-01.jpg')
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__lead
          スマホで入力するだけですぐに出品できる！
      %li.list.list-margin
        .list__image
          %span.number 2
          = image_tag('pict/pict-reason-02.jpg')
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__lead
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list__image
          %span.number 3
          = image_tag('pict/pict-reason-03.jpg')
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__lead
          最大3%でお得に出品&購入！

  .middle
    .middle__body
      %h1.middle__body__title
        会員数日本一位
      %p.middle__body__text
        FURIMAは、フリマアプリで最も人気。
        %br
          FURIMAは、フリマアプリで最も人気。
        %br
          ほしかったあの商品に出会えるかもしれません。
      .middle__body__btn
        = link_to image_tag('icon/app-store.svg', class:'app-btn'), '#'
        = link_to image_tag('icon/google-play.svg', class:'google-btn'), '#'

  .characteristic
    %h2.characteristic__title
      FURIMAの特徴
    %ul.characteristic__lists
      %li.list
        .list__image
          = image_tag('icon/icon-01.png')
        %h3.list__text
          簡単に売り買いできる
        %p.list__lead
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.list
        .list__image
          = image_tag('icon/icon-03.png')
        %h3.list__text
          売上金は即日振込みに対応
        %p.list__lead
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.list
        .list__image
          = image_tag('icon/icon-04.png')
        %h3.list__text
          様々な支払いに対応
        %p.list__lead
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .pickup
    %h2.title
      ピックアップカテゴリー
    .group
      .products
        = link_to new_product_path do
          新規投稿商品
      .group__lists
        - @products.each do |product|
          .list
            = link_to product_path(product.id) do
              - if product.buyer_id.present? 
                .list--image__sold
                  .list--image__sold__inner
                    SOLD
              %figure.list--image
                - product.images.each do |image|
                  = image_tag image.image.url, class: "item-image"
              .list--detail
                %h3.name
                  = product.name
                .foot
                  %ul
                    %li 
                      = product.amount_of_money
                      円
                    %li
                      %i.fa.fa-star
                      = Favorite.where(product_id: product.id).count
                  %p（税込）
  .pickup
    %h2.title
      ピックアップブランド
    .group
      .products
        = link_to new_product_path do
          アーカイバ
      .group__lists
        - @products.each do |product|
          .list
            = link_to product_path(product.id) do
              - if product.buyer_id.present? 
                .list--image__sold
                  .list--image__sold__inner
                    SOLD
              %figure.list--image
                - product.images.each do |image|
                  = image_tag image.image.url, class: "item-image"
              .list--detail
                %h3.name
                  = product.name
                .foot
                  %ul
                    %li 
                      = product.amount_of_money
                      円
                    %li
                      %i.fa.fa-star
                      = Favorite.where(product_id: product.id).count        
                  %p（税込）