.background
  .order
    %strong.order__done
      購入が完了しました。
    %p 
    %i.far.fa-clock 商品の発送をお待ちください。

    %hr.order-border
      .order__info
        = image_tag @image[0].image.url,size:'200x150'

        .order__info__box
          .order__info__box__name
            = @product.name
            .order__info__box__name__price-box
              .order__info__box__name__price-box__price
                %strong
                  ￥
                  = @product.amount_of_money
              .order__info__box__name__price-box__burden
                = @product.shipping_fee_burden
      %hr.order-border
        .order__price-total-box
          %strong.order__price-total-box__left 支払い金額
          %strong.order__price-total-box__right 
            ￥
            = @product.amount_of_money
      %hr.order-border
        .order__send
          = link_to "トップページに戻る", root_path, class: 'done_btn'