.background
  .my-page
    .my-page__side
      .my-page__side__content
        .my-page__side__content__title
          マイページメニュー
        %ul.my-page__side__content__menu
          %li= link_to 'マイページ', ''
          %li= link_to 'プロフィール', ''
          %li= link_to 'お届け先住所変更', ''
          %li= link_to 'メール・パスワード', ''
          %li= link_to '支払い方法', ''
          %li= link_to 'いいね・一覧', ''
      .my-page__side__content
        .my-page__side__content__title
          商品を出品する
        %ul.my-page__side__content__menu
          %li= link_to '商品を出品する', ''
          %li= link_to '出品した商品', ''
      .my-page__side__content
        .my-page__side__content__title
          商品を購入する
        %ul.my-page__side__content__menu
          %li= link_to '商品を購入する', ''
          %li= link_to '購入した商品', ''
          %li= link_to 'コメントした商品', ''
      .my-page__side__content
        .my-page__side__content__title
          ログアウト
        %ul.my-page__side__content__menu
          %li= link_to 'ログアウト',
    .my-page__main
      .my-page__main__user-name
        ももんが さんのマイページ

      .my-page__main__content
        .my-page__main__content__title
          出品中 商品
        .my-page__main__content__boxes
          .my-page__main__content__boxes__box
            .my-page__main__content__boxes__box__image
              = image_tag "https://previews.123rf.com/images/oksun70/oksun701709/oksun70170900052/85605117-%E6%96%B0%E3%81%97%E3%81%84%E5%AE%B6%E3%81%AB%E5%BC%95%E3%81%A3%E8%B6%8A%E3%81%97%E3%81%9F%E3%80%82%E7%AE%B1%E3%81%AE%E4%B8%AD%E3%81%AB%E5%AD%90%E4%BE%9B%E3%81%AE%E5%A5%B3%E3%81%AE%E5%AD%90%E3%81%8C%E5%BA%A7%E3%81%A3%E3%81%A6%E3%81%84%E3%81%BE%E3%81%99%E3%80%82.jpg", width: "180", height: "130"
            .my-page__main__content__boxes__box__name
              アメリカ産 新鮮 
            .my-page__main__content__boxes__box__price
              430,000円

        .my-page__main__content__boxes
          .my-page__main__content__boxes__box
            .my-page__main__content__boxes__box__image
              = image_tag "https://previews.123rf.com/images/oksun70/oksun701704/oksun70170400045/75587237-ni%C3%B1o-feliz-dentro-de-la-caja-en-el-nuevo-hogar-despu%C3%A9s-de-mudarse.jpg", width: "180", height: "130"
            .my-page__main__content__boxes__box__name
              ドイツ産 安売り
            .my-page__main__content__boxes__box__price
              30,000円

        .my-page__main__content
          .my-page__main__content__title
            取り引中 商品
          .my-page__main__content__boxes
            .my-page__main__content__boxes__box
              .my-page__main__content__boxes__box__image
                = image_tag "https://oggi.jp/wp-content/uploads/2018/12/ftop.jpg", width: "180", height: "130"
              .my-page__main__content__boxes__box__name
                とってもうまい棒
              .my-page__main__content__boxes__box__price
                20,000円




        