- breadcrumb :productshow
.wrapper-show
  .show-item
    .show-item__name
      = @product.name
    .show-item__image
      = form_for @product do |f|
        = f.label :image do
          - @images.each.with_index do |image,i|
            = image_tag image.image.url, alt: "preview", class: "show-item__image__main", id: "#{i}"
    .show-item__price-box
      .show-item__price-box__price
        %td= converting_to_jpy(@product.amount_of_money)
      .show-item__price-box__tax
        = @product.shipping_fee_burden
      - if @product.buyer_id.present?
        .btn#selled-btn
          売り切れました!
      - if user_signed_in? && current_user.id == @product.user_id
        - if @product.buyer_id.blank?
          = link_to "編集", edit_product_path(@product), method: :get, class: "btn",id: "edit-btn"
          = link_to "削除", product_path(@product), method: :delete, class: "btn delete-btn",id: "delete-btn"
      - else
        = link_to "購入画面にすすむ", order_path(@product), class: 'buy_btn',id: "buy-btn" 
    .show-item__item-text
      = @product.product_details
    .show-item__table
      %table
        %tbody
          %tr
            %th 投稿者
            %td
              = link_to(@product.exhibitor.nickname, "#")
          %tr
            %th カテゴリー
            %td.category--td
              = link_to @product.category.parent.parent.name, category_path(@product.category.parent.parent.id)
              %br
              = link_to @product.category.parent.name, category_path(@product.category.parent.id)
              %br
              = link_to @product.category.name, category_path(@product.category.id)
          %tr
            %th 商品のサイズ
            %td
              = @product.size
          %tr
            %th 商品の状態
            %td 
              = @product.status
          %tr
            %th 配送料の負担
            %td 
              = @product.shipping_fee_burden
          %tr
            %th 地域
            %td 
              =link_to(@product.prefectures, '#')
          %tr
            %th 発送日の目安
            %td
              = @product.estimated_delivery

    .show-item__good-box
      .show-item__good-box__favorite-btn 
        %ul#favoriteBtn
          = render partial: 'favorites/favorite', locals: { product: @product} 
      .show-item__good-box__alert-btn
        %i.fa.fa-flag
          不適切な商品の通報
  .comment
    .comment_list
      - if user_signed_in?
        - @commentALL.each do |comment|
          - if comment.user_id == current_user.id   
            .comment_Me.comment_one_block{data:{index: comment.id}}                   
              - if comment.delete_check == 1   # 削除済の場合
                .comment_content
                  = render 'products/template_comment/comment_delete_restore_btn',comment: comment 
              - else   # 削除されていない場合
                .comment_content
                  = comment.comment
                  .comment_create_at
                    = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                  - if comment.user.id == current_user.id
                    .comment_delete.me_pre_delete{data:{index: comment.id}}     
                      = link_to '削除する', comment_path(comment.id) ,method: :patch
              = render 'products/template_comment/comment_name',comment: comment                    
          - else 
            .comment_Other.comment_one_block{data:{index: comment.id}}    
              = render 'products/template_comment/comment_name',comment: comment               
              - if comment.delete_check == 1   # 削除済の場合
                .comment_content_other
                  = render 'products/template_comment/comment_delete_restore_btn',comment: comment               
              - else    # 削除されていない場合
                .comment_content_other
                  = comment.comment
                  .comment_create_at
                    = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                  - if comment.product.exhibitor == current_user   # 出品者とログインユーザーが等しい場合
                    .comment_delete.other_pre_delete{data:{index: comment.id}}     
                      = link_to '削除する', comment_path(comment.id) ,method: :patch
    - if user_signed_in?              
      = form_with model:@comment ,class:"new_comment", local: true do |f|
        = f.text_area :comment,id: "comment_body",wrap: "soft",class: "comment__form",placeholder: "コメントを書く"
        = f.hidden_field :product_id, value: @product.id

        %p.noticeMsg.comment__caution
          相手のことを考えて丁寧なコメントをこころがけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br/
        %button.commentBtn{name: "button", type: "submit", class: "comment__btn"}
          %i.fa.fa-comment
            コメントする
  .links
    %ul
      %li
        %i.fas.fa-chevron-left
        = link_to "前の商品",product_path(@product.id - 1)
      %li
        = link_to "次の商品",product_path(@product.id + 1)
        %i.fas.fa-chevron-right
    .category-link
      = link_to "#{@product.category.parent.parent.name}をもっと見る", category_path(@product.category.parent.parent.id), {class: "category-link"}

  =render 'home/main-bottom'
  =render 'home/footer'