.wrapper
  .show-item
    .show-item__name
      カレーライス
    .show-item__image
      = image_tag "https://ouchigohan.s3.amazonaws.com/uploads/article/image/1998/sp_article_thumbnail_734c57b2-ab1f-4663-8df6-1c5b5099cefa.jpg", class: "show-item__image__main"
    %ul.show-item__image-list
      %li
        = image_tag "https://oggi.jp/wp-content/uploads/2018/12/ftop.jpg", width: "150", height: "100", class: "show-item__image-list--img"
      %li
        = image_tag "https://lh3.googleusercontent.com/Ve0EEpchVfMTx0zKtEdjUW2M2ihf38my5FfHILVPj9pEtMx9Tm23A4Fcvj_taBjhCtCbvuKCs_g-Sf9UG5iQ7A=s1003", width: "150", height: "100", class: "show-item__image-list--img"
      %li
        = image_tag "https://epark.jp/medicalook/wp-content/uploads/2019/11/nats-e1573719690938-1024x682.jpg", width: "150", height: "100", class: "show-item__image-list--img"
    .show-item__price-box
      .show-item__price-box__price
        ￥1500
      .show-item__price-box__tax
        (税込)送料込み
    - if @product.buyer_id.present?
      %h2.buy_btn
        売り切れました
    - else
      = link_to "購入画面にすすむ",orders_path, class: 'buy_btn'   
    .show-item__item-text
      「…………ブウウ――――――ンンン――――――ンンンン………………。私がウスウスと眼を覚ました時、こうした蜜蜂の唸るような音は、まだ、その弾力の深い余韻を、私の耳の穴の中にハッキリと引き残していた」
      親譲りの無鉄砲で小供の時から損ばかりしている。 小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。 なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。 弱虫やーい。と囃したからである。
    .show-item__table
      %table
        %tbody
          %tr
            %th 出品者
            %td hoge 
          %tr
            %th カテゴリー
            %td.category--td
              = link_to "レディース", '#'
              %br
              = link_to "トップス", '#'
              %br
              = link_to "Tシャツ/カットソー(半袖/袖なし)", '#'
          %tr
            %th ブランド
            %td 
          %tr
            %th 商品のサイズ
            %td 
          %tr
            %th 商品の状態
            %td 新品/未使用
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 地域
            %td 
              =link_to "青森県", '#'
          %tr
            %th 発送日の目安
            %td 1-2日で発送
    .show-item__good-box
      .show-item__good-box__favorite-btn 
        %i.fa.fa-star
          お気に入り １
      .show-item__good-box__alert-btn
        %i.fa.fa-flag
          不適切な商品の通報
  .comment
    %textarea.comment__form
    .comment__caution
      相手のことを考え丁寧なコメントを心がけましょう。
      %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .comment__btn
      %i.fa.fa-comment
        コメントする
  .links
    %ul
      %li
        = link_to ""
        前の商品
        %i.fas.fa-chevron-left
      %li
        = link_to ""
        後の商品
        %i.fas.fa-chevron-right
    .category-link
      レディースをもっと見る
  =render 'home/main-bottom'
  =render 'home/footer'